<div class="jumbotron">
	<h1>Cadastrar Documento</h1>
	<h3 align="center">{{vm.status}}</h3>
	<hr width="50%" align="left">
	<div class="row">
		<form ng-submit="vm.cadastrarDocumento()" novalidate id="formCadastro">
			<div>
				<div class="row">
					<div class="col col-md-3">
						Nome: <input type="text" ng-required="true"
							ng-model="vm.documento.nome" />
					</div>
				</div>
				<br>
				<hr>
			</div>
			<div>
				<h3>Cadastrar Pagina</h1>
				<hr width="50%" align="left">
				<div class="row">
					<div class="col col-md-3">
						Nome: <input type="text" ng-required="true"
							ng-model="vm.pagina.nome" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input class="btn btn-success" type="button"
							ng-click="vm.adicionaPagina(vm.pagina)" value="Adiciona Pagina" />
					</div>
				</div>
			</div>
			<br>
			<table class="table table-hover">
				<thead ng-if="vm.paginas">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Pagina Nome</th>
						<th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody ng-repeat='pagina in vm.paginas track by $index'>
					<td><b>{{$index+1}}</b></td>
					<td>{{pagina.nome}}</td>
					<td><input class="btn btn-danger" type="button"
						value="Excluir" ng-click="vm.excluirPagina(pagina)"></td>
				</tbody>
			</table>
			<br>
			<hr>
			<div class="row text-right">
				<div class="col col-md-3">
					<input class="btn btn-success" type="button" value="Limpar"
						ng-click="vm.limparTela()" />
				</div>
				<div class="col col-md-5">
					<input class="btn btn-success" type="submit" value="Cadastrar" />
				</div>
				<div class="col col-md-3">
					<input class="btn btn-success" type="button" value="Voltar"
						ng-click="vm.voltar()" />

				</div>
			</div>
		</form>
	</div>
</div>
